body{
    font-family: 'Trebuchet MS';
}

.homepagelink{
    text-align: center;
    height: 50px;
    padding: 10px 0px;
}
#homebutton{
    text-decoration: none;
    color: rgb(236, 149, 35);
    font-size: 15px;
    border: 2px solid rgb(236, 149, 35);
    border-radius: 10px;
    padding: 3px 8px;
    margin: 5px auto;
    width: max-content;
    
}

#homebutton:hover{
    background-color: rgb(236, 149, 35);
    color: #fff;
}

.myform{
    border: 2px solid;
    width: 400px;
    height: auto;
    margin:  50px auto;
    padding: 30px ;
}
.myform form{
    font-size: 20px;
}

.button{
    align-self: center !important;
    border: 2px solid green !important;
    margin: 20px 118px ;
    width: 100px;
    font-size: 20px;
    background-color: transparent;
    color: green;
}

.button:hover{
    color: #fff;
    background-color: green;
}


.table {
    text-align: center !important;
    padding: 0px 15px !important;
}

.edit{
    text-decoration: none;
    color: rgb(35, 163, 236);
    font-size: 15px;
    border: 2px solid rgb(35, 163, 236);
    border-radius: 10px;
    padding: 3px 8px;
    
}

.edit:hover{
    background-color: rgb(35, 163, 236);
    color: #fff;
}

.delete{
    text-decoration: none;
    color: rgb(236, 35, 35);
    font-size: 15px;
    border: 2px solid rgb(236, 35, 35);
    border-radius: 10px;
    padding: 3px 8px;
    
}

.delete:hover{
    background-color: rgb(236, 35, 35);
    color: #fff;
}